---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentWithHeading from '../components/ContentWithHeading.astro';

Astro.response.status = 404;
---
<BaseLayout>
    <ContentWithHeading contentTitle="404">
        <h1>404</h1>
        <p>
            The page you're looking for doesn't exist.
        </p>
    </ContentWithHeading>
</BaseLayout>

