---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentWithHeading from '../components/ContentWithHeading.astro';
---
<BaseLayout>
    <ContentWithHeading>
<h1>get in touch<span class="text-emphasis-blue">.</span></h1>
<p>
    For more details on my work and experience, feel free to visit my
    <a href="https://github.com/sanderdejong" target="_blank" rel="noopener noreferrer">GitHub<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display:inline;vertical-align:middle;margin-left:0.25rem;"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg></a> or connect
    with me on
    <a href="https://linkedin.com/in/sanderdejong-" target="_blank" rel="noopener noreferrer">LinkedIn<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="display:inline;vertical-align:middle;margin-left:0.25rem;"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg></a>.
</p>
    </ContentWithHeading>
</BaseLayout>
