---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentWithHeading from '../components/ContentWithHeading.astro';
---
<BaseLayout>
    <ContentWithHeading>
        <h1>hi, I am Sander de Jong<span class="text-emphasis-blue">.</span></h1>
        <p>
            I’m a software engineer with over six years of professional experience, working in both small teams and
            large organizations. I specialize in cloud-native development, primarily using <span class="text-emphasis-orange">Java</span>
            and <span class="text-emphasis-orange">AWS</span>.
        </p>
    </ContentWithHeading>
</BaseLayout>
